<!DOCTYPE html>
<html>
<head>
  <title>Travelogue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  <nav>
     <div class="nav-wrapper">
       <a href="#!" class="brand-logo">Wanderlust Travelogue</a>
       <ul class="right hide-on-med-and-down">
         <li><a href="sass.html"><i class="material-icons">search</i></a></li>
         <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
         <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
         <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
         <% if @current_user %>
              <li><%= link_to 'Sign Out', sign_in_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', sign_in_path %> </li>
         <% end %>
       </ul>
     </div>
   </nav>
<%= yield %>
<footer class="page-footer">
  <div class="container">
    <h5 class="white-text">
       <div class="wanderlust_icons">
        <i class="material-icons">airplanemode_active</i>
        <i class="material-icons">directions_walk</i>
        <i class="material-icons">favorite_border</i>
      </div>
    </h5>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">

  S. D O S S E T T  S W I F T
    © 2016 Copyright
    <a class="grey-text text-lighten-4 right" href="#!">PEACE LOVE AND ITCHY FEET</a>
    </div>
  </div>
</footer>

</body>
</html>
